* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e3f6fde6;
  color: #1e3264;
}
a {
  color: inherit;
  text-decoration: none;
}
#header #nav {
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  list-style: none;
  border: 1px solid #1e3264;
  margin: 0;
  padding: 24px;
}
/* #nav.scrolled {
  background-color: #bac9ee;
} */
#header #nav li {
  margin: 0 1rem;
}
main {
  margin: 7rem 0;
}
.hero {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  background-position: center;
  text-align: center;
  width: 65%;
  margin: 8rem auto;
}
.hero h1 {
  font-size: 48px;
}
.hero p {
  font-size: 18px;
  line-height: 1.75;
}
section {
  display: flex;
  gap: 2rem;
}
footer {
  background-color: #1e3264;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
