* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e3f6fde6;
  color: #1e3264;
}
a {
  color: inherit;
  text-decoration: none;
}
.logo {
  z-index: 45;
}
#header #nav {
  position: fixed;
  top: 0;
  background-color: gray;
  width: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #1e3264;
  margin: 0;
  padding: 24px;
  margin-bottom: 0;
}
.ul {
  display: flex;
  list-style: none;
  margin-bottom: 0;
}
#header #nav.scrolled {
  background-color: transparent;
}
#header #nav li {
  margin: 0 1rem;
}
main {
  margin: 0;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: gray;
  gap: 2rem;
  height: 100vh;
  background-position: center;
  text-align: center;
}
.hero h1 {
  font-size: 48px;
}
.hero p {
  font-size: 18px;
  line-height: 1.75;
}
.article__one,
.article__two {
  margin: 1rem 3rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.article__one img,
.article__two img {
  width: 100%;
  height: auto;
}
.div__one,
.div__two {
  flex: 1;
  overflow: hidden;
  border-radius: 6px;
}
.div__one h2,
.div__two h2 {
  font-size: 44px;
  padding: 1rem 0;
}
.div__one img:hover,
.div__two img:hover {
  transform: scale(1.025);
  transition: transform 0.25s;
}
footer {
  background-color: #1e3264;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  #header #nav {
    padding: 1rem;
  }
  .hero {
    width: 85%;
  }
  .article__one,
  .article__two {
    gap: 2rem;
  }
  .article__one {
    flex-direction: column;
  }
  .article__two {
    flex-direction: column-reverse;
  }
  .article__one img,
  .article__two img {
    width: 100%;
    height: auto;
  }
  .div__one,
  .div__two {
    flex: 1;
  }
}
